/*样式重置开始*/
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
/*样式重置结束*/
body{
    font-size: 0.28rem;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
    zoom: 1;
}

/*go-top开始*/
#go-top{
    width: .8rem;
    height: .8rem;
    background: url(../img/top.png) no-repeat rgba(204, 204, 204, 0.51);
    -webkit-background-size: 0.8rem 0.8rem;
    -moz-background-size: 0.8rem 0.8rem;
    -o-background-size: 0.8rem 0.8rem;
    -ms-background-size: 0.8rem 0.8rem;
    background-size: 0.8rem 0.8rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: fixed;
    right: 0.6rem;
    bottom: 1.8rem;
    opacity: 0.6;
    display: none;
}
/*go-top结束*/

/*footer开始*/
#footer{
    height: 1rem;
    width: 100%;
    padding: .2rem 0;
    background: rgba(0,0,0,0.8);
    display: -webkit-box;
    display: -moz-box;
    position: fixed;
    bottom: 0;
    opacity: 0.8;
    text-shadow: none;
}
#footer .logo,#footer div,#footer .download{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    -box-flex: 1;
}
#footer .logo{
    width: 1rem;
    height: 1rem;
    margin-left: .4rem;
}
#footer div{
    color: #fff;
    margin: .2rem 0 0 .3rem;
}
#footer .download{
    width: 1.7rem;
    height: .7rem;
    background-color: transparent;
    border: 1px solid #06c1ae;
    color: #06c1ae;
    padding: 0;
    text-shadow: none;
    display: inline-block;
    font-size: .28rem;
    margin-right: .4rem;
}
/*footer结束*/