#header{
    height: 1.02rem;
    background: #06c1ae;
    line-height: 1.02rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    color: #fff;
}
#header #left{
    float: left;
}
#left img{
    width: 0.45rem;
    height: 0.45rem;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
}
#login-form{
    margin-top: 1.02rem;
    padding: 0 0.2rem
}