/*header开始*/
#header{
    height: 1.02rem;
    background: #06c1ae;
    line-height: 1.02rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    color: #fff;
}
#header #left{
    float: left;
}
#left img{
    width: 0.45rem;
    height: 0.45rem;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
}
#header #home{
    position: absolute;
    top: .2rem;
    right: .8rem;
}
/*header结束*/

.ui-content{
    background-color: #fff;
    margin-top: .8rem;
}
/*menu开始*/
#menu li{
    height: 1.8rem;
    padding: .3rem 0;
    border-bottom: 1px solid #ccc;
    display: -webkit-box;
    display: -moz-box;
}
#menu .brand{
    height: 1.8rem;
    /*width: 1.8rem;
    float: left;*/
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    -box-flex: 1;
}
#menu .detail{
    margin-left: .3rem;
    /*float: left;*/
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -o-box-flex: 2;
    -ms-box-flex: 2;
    -box-flex: 2;
}
#menu .detail-name{
    font-size: .3rem;
    font-weight: 400;
    padding: 0.1rem 0;
}
#menu .detail-desc{
    margin-bottom: .2rem;
}
#menu .price{
    font-size:.38rem;
    color: #06c1ae;
}
#menu .sold{
    margin-left: .15rem;
}
#menu .arrow{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    -box-flex: 1;
    height: 100%;
    background: url("../img/right-arrow.png") no-repeat center center;
    -webkit-background-size: .3rem .3rem;
    -moz-background-size: .3rem .3rem;
    -o-background-size: .3rem .3rem;
    -ms-background-size: .3rem .3rem;
    background-size: .3rem .3rem;
}
/*menu结束*/

/*explain开始*/
#explain{
    padding: 0.28rem 0;
    height: .5rem;
    border-bottom: 1px solid #ccc;
}
#explain .refund{
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0.4rem 0.4rem;
    padding-left: 0.5rem;
}
#explain span:nth-child(1){
    background-image: url("../img/refund.png");
    color: #6dbe03;
}
#explain span:nth-child(2){
    background-image: url("../img/right.png");
    color: #6dbe03;
    margin-left: 0.8rem;
}
/*explain结束*/

/*grade开始*/
#grade{
    padding: .2rem;
    height: .5rem;
    border-bottom: 1px solid #ccc;
}
#grade .score_star1{
    float: left;
    position: relative;
    display: inline-block;
    width: 1.7rem;
    height: .3rem;
    background: url("../img/score-star1.png") no-repeat;
    -webkit-background-size: 1.7rem 0.3rem;
    -moz-background-size: 1.7rem 0.3rem;
    -o-background-size: 1.7rem 0.3rem;
    -ms-background-size: 1.7rem 0.3rem;
    background-size: 1.7rem 0.3rem;
}
#grade .score_star2{
    position: absolute;
    display: inline-block;
    height: .3rem;
    background: url("../img/score-star2.png") no-repeat;
    -webkit-background-size: 1.7rem 0.3rem;
    -moz-background-size: 1.7rem 0.3rem;
    -o-background-size: 1.7rem 0.3rem;
    -ms-background-size: 1.7rem 0.3rem;
    background-size: 1.7rem 0.3rem;
}
#grade .score{
    float: left;
    margin-left: .2rem;
    color: #eb8706;
}
#grade .comment{
    float: right;
    color: #9e9eb7;
    padding-right: .4rem;
    background: url("../img/right-arrow.png") no-repeat right center;
    -webkit-background-size: .3rem .2rem;
    -moz-background-size: .3rem .2rem;
    -o-background-size: .3rem .2rem;
    -ms-background-size: .3rem .2rem;
    background-size: .3rem .2rem;
}
/*grade结束*/

/*detail开始*/
#detail{
    padding: .2rem 0;
}
#detail h3{
    font-weight: lighter;
    padding: .2rem 0;
    border-bottom: 1px solid #ccc;
}
#detail ul{
    padding: 0.2rem 0.4rem;
}
#detail ul li{
    font-size: .3rem;
    list-style: disc;
    margin-top: 0.15rem;
}
/*detail结束*/